.Navbar {
    background-color: var(--secondary-blue);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}

.Navbar-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.Navbar-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar-AuthButton {
    background-color: #02A4FF;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
}

.Navbar-Logo img {
    height: 120px;
    width: auto;
}

.Navbar-link {
    text-decoration: none;
    color: white;
}

.Navbar-link:hover {
    text-decoration: underline;
    cursor: pointer;
}